html{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Logo */
#nav{
  position: sticky;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 99;
}

.logo {
  width: 300px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-right: 10px;
  font-size: medium;
}

.nav-item .nav-link {
  font-weight: 600;
  color: #000;
}

.nav-item .nav-link:hover {
  color: #007bff;
}

/* Hero */
.hero-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  width: 100%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 4rem;
  width: max-content;
}

.hero-left-title {
  font-size: 50px;
  width: 70%;
  max-width: 75%;
}

.hero-left-subtitle {
  width: 70%;
}

.hero-left-btn {
  width: max-content;
  padding: 10px 30px;
  background: black;
  color: white;
}

.hero-left-btn:hover{
  background: white;
  color: black;
  transition: all .3s ease;
}

.icon-content-flex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.icon-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon-content p {
  margin-top: 1rem;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.hero-right img {
  width: 85%;
}

/* about */
.about-content {
  background-image: url("./assets/orange-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 6rem;
}

.about-section-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55%;
}

.content-one {
  font-size: large;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.788);
  max-width: 85%;
  min-width: 80%;
}

.content-two {
  width: 90%;
}

/* weOffer */
.weOffer {
  padding: 120px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.weOffer-head-subtitle {
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track-container {
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.cards-content {
  flex: 0 0 auto;
  width: 280px; 
  margin-right: 20px; 
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cards-content img {
  margin: 0 auto;
  border-radius: 7px;
  border: 2px solid black;
  width: 100%;
}

.title-contents {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
}

.title-contents .card-title {
  font-size: 15px;
  font-weight: 600;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* community */
.community {
  padding: 20px;
}

.community-contents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.community-contents .community-img {
  width: 35%;
}

.communities-guide {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.community-guide-title {
  font-size: 40px;
  width: 60%;
}

.community-guide-description {
  width: 90%;
}

/* Trusted Companies */
.companies {
  background-color: #ffd7ef;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.companies-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.companies-contents .companies-title {
  font-size: 40px;
}

.companies-subcontent {
  width: 40%;
}

.companies-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10rem;
}

.companies-images img {
  width: 140px;
}

/* Testimonials */
.testimonials {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.testimonials-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.testimonials-carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.testimonials-carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.testimonials-carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.cards-testimonials {
  border: 2px solid black;
  border-radius: 1rem;
  width: 300px;
  height: 450px;
  flex: 0 0 auto;
  margin-right: 20px; 
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-head {
  background: #ffbf23;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 10px 30px;
  font-weight: 700;
  text-align: left;
}

.card-testimonial-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.sea-plants {
  width: 35%;
}

.client-name {
  font-weight: 600;
  width: 50%;
}

.testimonials-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.testimonials-left-button {
  left: 10px;
}

.testimonials-right-button {
  right: 10px;
}

.testimonials-carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* getReady */
.getReady {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.getReady-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getReady-call {
  font-size: xx-large;
  font-weight: 600;
  width: 60%;
  text-align: center;
}

.getReady img {
  width: 60%;
  mix-blend-mode: multiply;
}

.getStarted-bnt {
  width: max-content;
  padding: 10px 30px;
  background: black;
  color: white;
  border-radius: 5px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  background: #ffbf23;
}

.footer-logo {
  width: 100%;
}

.footer .footer-logo img {
  display: flex;
  margin: 0 auto;
  width: 23rem;
}

.footer-contents {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 40px;
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact {
  width: 40%;
  border: 2px solid black;
  padding: 20px;
}

.contact-content p {
  width: 75%;
}

.quickLinks {
  display: flex;
  flex-direction: column;
}

.quickLinks a {
  color: black;
}

.quickLinks a:hover {
  text-decoration: underline;
  transition: all 0.2s ease-in;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 1rem;
}

.links a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.footer-content-titles {
  margin-bottom: 2rem;
}

.follow .email-form {
  display: flex;
  flex-direction: column;
}

.email-form input,
textarea {
  background: none;
  all: unset;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
}

.email-form input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.562);
}

.email-form button {
  width: max-content;
  padding: 5px 25px;
  margin-top: 1rem;
  background: black;
  color: white;
  border-radius: 7px;
}

.email-form button:hover {
  color: #ffbf23;
  border: 2px solid orange;
}

/* Floating button */
.floating-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.floating-btn button {
  background-color: #007bff;
  color: white;
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.floating-btn button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1024px) {

  /* nav bar */
  .logo {
    width: 200px;
  }

  /* Hero */
  .hero-body {
    height: 500px;
  }

  .hero-left {
    width: 80%;
    padding: 60px;
    gap: 3.5rem;
  }

  .hero-left-title {
    font-size: 37px;
    width: 80%;
  }

  .hero-left-subtitle {
    width: 60%;
    font-size: small;
  }

  .hero-left-btn {
    padding: 6px 18px;
    font-size: small;
  }

  .icon-content-flex {
    gap: 3rem;
  }

  .icon-content {
    gap: 0.7rem;
  }

  .icon-content p {
    margin-top: 1rem;
    font-size: 10px;
  }

  .hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 475px;
  }

  .hero-right img {
    width: 100%;
  }

  /* about */
  .about-title {
    font-size: 35px;
    margin-top: -5px;
  }

  .about-section-contents {
    width: 80%;
  }

  .content-two {
    width: 90%;
  }

  /* weoffer */
  .weOffer {
    gap: 1rem;
    padding: 50px;
  }

  .weOffer-head-subtitle {
    text-align: justify;
  }

  .weOffer-cards {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .cards-content {
    gap: 1rem;
    align-items: center;
  }

  .cards-content img {
    width: 300px;
  }

  .title-contents {
    gap: 0.7rem;
    width: 300px;
    font-size: 20px;
  }

  /* community */
  .community {
    padding: 10px;
  }

  .community-contents {
    justify-content: space-around;
  }

  .community-contents .community-img {
    width: 40%;
  }

  .communities-guide {
    width: 40%;
    gap: 1rem;
  }

  .community-guide-title {
    font-size: 35px;
    width: 75%;
  }

  .community-guide-description {
    width: 100%;
  }

  /* Trusted Companies */
  .companies {
    height: 400px;
    gap: 2rem;
  }

  .companies-contents {
    align-items: center;
    gap: 0.9rem;
  }
  
  .companies-contents .companies-title {
    font-size: 35px;
  }

  .companies-subcontent {
    width: 60%;
    text-align: center;
  }

  .companies-images {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  .companies-images img {
    width: 100px;
  }

  /* Testomnials */
  .testimonials {
    padding: 85px;
    gap: 2rem;
  }

  .client-testimonials {
    gap: 1.5rem;
  }

  .cards-testimonials {
    width: 300px;
  }

  .card-testimonial-content {
    padding: 20px;
    width: 75%;
  }

  .client-name {
    width: 55%;
  }

  /* getReady */
  .getReady img {
    width: 70%;
  }

  /* footer */
  .footer .footer-logo img {
    width: 21rem;
  }

  .footer-contents {
    padding: 20px;
  }

  .contact {
    width: 45%;
  }

  .contact-content p {
    width: 80%;
  }

  .follow .email-form {
    gap: 4px;
  }
}

@media screen and (max-width: 768px) {

  /* nav bar */
  .logo {
    width: 250px;
  }

  /* Hero */
  .hero-body {
    height: 500px;
  }

  .hero-left {
    padding: 40px;
    gap: 3rem;
  }

  .hero-left-title {
    font-size: 30px;
  }

  .hero-left-subtitle {
    width: 100%;
  }

  .hero-left-btn {
    padding: 5px 15px;
  }

  .icon-content-flex {
    gap: 1rem;
  }

  .icon-content-flex img {
    width: 40px;
  }

  .icon-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .icon-content p {
    margin-top: 0;
  }

  .hero-right {
    height: 440.7px;
  }

  .hero-right img {
    width: 100%;
  }

  /* about */
  .about-content {
    height: 360px;
  }

  .about-title {
    font-size: 25px;
    font-weight: 600;
    margin-top: 4rem;
  }

  .about-section-contents {
    width: 80%;
  }

  .content-one {
    font-size: large;
  }

  /* weoffer */
  .weOffer {
    padding: 20px;
    gap: 1rem;
  }

  .weOffer-head-subtitle {
    width: 100%;
  }

  .cards-content {
    margin-left: 5px; 
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .cards-content img {
    width: 270px;
  }

  .title-contents {
    width: 270px;
  }

  /* community */
  .community {
    padding: 15px;
    margin-top: .5rem;
  }

  .community-contents {
    display: flex;
    flex-direction: column;
  }

  .community-contents .community-img {
    width: 55%;
  }

  .communities-guide {
    width: 85%;
  }

  .community-guide-title {
    font-size: 35px;
    width: 55%;
  }

  .community-guide-description {
    width: 80%;
  }

  /* Trusted Companies */
  .companies {
    height: 400px;
    gap: 2rem;
  }

  .companies-contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .companies-contents .companies-title {
    font-size: 25px;
  }

  .companies-subcontent {
    width: 50%;
    font-size: small;
  }

  .companies-images {
    column-gap: 4rem;
  }

  .companies-images img {
    width: 70px;
  }

  /* Testomnials */
  .testimonials {
    padding: 40px 20px;
    gap: 1rem;
  }

  .card-head {
    padding: 0px 0px 7px 21px;
  }

  .card-testimonial-content {
    width: 80%;
    font-size: small;
    display: flex;
    margin: 0 auto;
  }

  .cards-testimonials {
    width: 270px;
    height: 400px;
  }

  .sea-plants {
    width: 40%;
  }

  .client-name {
    font-size: x-small;
    font-weight: 600;
    width: 42%;
  }

  /* getReady */
  .getReady {
    margin-top: 2rem;
  }

  .getReady-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .getReady-call {
    font-size: x-large;
  }

  .getStarted-bnt {
    padding: 7px 21px;
  }

  /* footer */
  .footer .footer-logo img {
    width: 20rem;
  }

  .footer-contents {
    padding: 10px 0px;
  }

  .contact-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contact {
    width: 40%;
    padding: 10px;
  }

  .quickLinks a {
    font-size: medium;
  }

  .links {
    gap: .7rem;
  }

  .footer-content-titles {
    margin-bottom: 1rem;
    font-size: large;
  }

  /* Floating button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

}

@media (max-width: 426px) and (min-width: 320px){
/* nav-logo */
  .logo {
    width: 200px;
  }

  /* Hero */
.hero-body {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2rem;
}

.hero-left-title {
  font-size: 30px;
  width: 100%;
}

.hero-left-subtitle {
  width: 100%;
}

.hero-left-btn {
  width: max-content;
  padding: 7px 21px;
  background: black;
  color: white;
}

.icon-content-flex {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icon-content {
  display: flex;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 550px;
}

.hero-right img {
  width: 85%;
}

/* about */
.about{
  margin-top: 4rem;
}

.about-content {
  height: 400px;
  padding-bottom: 20px;
}

.about-title {
  font-size: clamp(27px, 2vh, 30px);
}

.about-section-contents {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: -15px;
}

.content-one {
  font-size: large;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.788);
  width: 100%;
}

.content-two {
  width: 100%;
}

/* weoffer */
.weOffer-head-subtitle {
  width: 100%;
}

.weOffer-head-subtitle{
  text-align: justify;
}

/* community */
.community-contents .community-img {
  width: 85%;
}

.communities-guide {
  width: 100%;
}

.community-guide-title {
  font-size: 30px;
  width: 80%;
}

.community-guide-description {
  width: 100%;
}

.community-guide-icons {
  display: flex;
  gap: .3rem;
}

.community-guide-icons img{
  width: 30px;
}

.community-icon-content {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.community-icon-content p {
  width: 100%;
  margin-top: 1rem;
  font-size: x-small;
}

/* Trusted Companies */
.companies {
  height: 350px;
  gap: 1rem;
}

.companies-contents {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.companies-contents .companies-title {
  font-size: 25px;
  padding: 10px;
}

.companies-subcontent {
  width: 85%;
  padding: 10px;
  text-align: center;
}

.companies-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: .5rem;
}

.companies-images img {
  width: 60px;
}

/* Testimonials */
.testimonials {
    padding: 40px;
    gap: 1rem;
  }

  .cards-testimonials {
    width: 250px;
    height: 300px;
    flex: 0 0 auto;
  }

  .card-testimonial-content {
    margin: 0 auto;
    padding: 10px;
    font-size: small;
  }

  .card-footer {
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sea-plants {
    width: 60px;
  }

  .client-name {
    font-weight: 600;
    width: 70%;
  }

/* getready */
.getReady-call{
  width: 90%;
}

.getStarted-bnt{
  font-size: small;
  padding: 7px 15px;
}

.getReady img{
  width: 100%;
}
/* Footer */
.footer-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.contact{
  width: 90%;
}
}
